@use "../../variables" as variables;

div {
  display: flex;

  .text {
    background-color: variables.$background-color;
    width: 100%;
  }

  .button {
    background-color: red;
    color: variables.$background-color;
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    user-select: none;
    width: 0;

    div {
      padding-left: 0.5em;
      padding-right: 0.5em;
      transform: scale(0.7);
    }
  }
}

.pendingDelete.notDragging {
  .button {
    width: 40vw;
  }
  opacity: 0;
  transition: opacity 0.3s;
}

.notDragging {
  .button {
    transition: width 300ms linear;
  }
}

.pendingDelete {
  .button {
    .iconContainer {
      transform: scale(1);
    }
  }
}
