.mobile {
  width: 100%;
  .header {
    flex-direction: column;
  }
}
.desktop {
  .categories {
    display: flex;
    flex-wrap: wrap;
    * {
      flex-basis: 34%;
      flex-grow: 1;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }

    .name:hover {
      cursor: pointer;
      color: blue;
    }

    .buttons {
      display: flex;

      button {
        margin-left: 1em;
      }
    }
  }
  .new-item {
    display: flex;
    form {
      width: 100%;
      mat-form-field {
        width: 100%;
      }
    }
  }
}

.d-none {
  display: none;
}
